html {
    height:     100%;
    font-size:  62.5%;  // this configuration rem equals 10 px (em of html as well)

	@media (max-width: @screen-xs-max) {
        font-size: 50%;     // W tej konfiguracji em na dziecku bądź rem na dowolnym elemencie roota odpowiada 8 pixelom (bo domyślna wielkość to 16px)
    }
	@media (max-width: @screen-xs-min) {
    	font-size:  43.75%;     // W tej konfiguracji em na dziecku bądź rem na dowolnym elemencie roota odpowiada 7 pixelom (bo domyślna wielkość to 16px)
	}
}

body {
	font-size:		1.6rem;
	color:			@ps-gray-vdk;
    padding-top:    5rem;
}


.container-fluid {
	padding-left:	15%;
	padding-right:	15%;

	@media (max-width: @screen-md-max) {
		padding-left:	10%;
		padding-right:	10%;

		@media (max-width: @screen-xs-max) {
			padding-left:	5%;
			padding-right:	5%;
		}
	}
}

a {
	color:	@ps-blue-lt;

	&:hover,
	&:focus {
		color: @ps-sgreen-lt;
	}
}

h1 {
	font-size:	3.2rem;
}
h2 {
	font-size:	2.8rem;
}
h3 {
	font-size:	2.5rem;
}
h4 {
	font-size:	2.3rem;
}
h5 {
	font-size:	2.1rem;
}
h6 {
	font-size:	2rem;
}
