#header {
	height:				330px;
	background-image:	url("../img/Background.jpg");
	background-size:	cover;
	border-bottom:		@ps-gray-vdk solid 5px;
	margin:				0 -15px 0 -15px;

	@media (max-width: @screen-xs-max) {
		height:	200px;
		top:	0;
	}
	
	
	img {
		position:	relative;
		left:		3em;
		top:		2em;

		@media (max-width: @screen-xs-max) {
			left:		0em;
			padding:	0 1em 0 1em;
		}
	}
	

}
